<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>AnaLazy</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for( 'home') }}">AnaLazy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for( 'home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for( 'upload') }}">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for( 'train') }}">Train</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for( 'models') }}">Models</a>
                </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <h1 class="display-4">AnaLazy</h1>
        </div>

        <br>

        <div id="ui_grid" style="margin-left:5%;margin-right:5%">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Upload</h5>
                        <p class="card-text">
                            Upload new data which models can be trained with. Data sets must be in <code>.csv</code> 
                            format. All features and target variables should each be a column of their own, with the first row of
                            each column being a descriptive column header.
                        </p>
                        <a href="{{ url_for( 'upload') }}" class="btn btn-primary">Upload Data</a>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Train</h5>
                        <p class="card-text">
                            Train a new predictive model using uploaded data. You will be able 
                            to select features and target variables from the column headers of the data,
                            the specific model type you'd like to train and set all relevant parameters.
                        </p>
                        <a href="{{ url_for( 'train') }}" class="btn btn-primary">Train a Model</a>
                    </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Models</h5>
                        <p class="card-text">
                            View all of the models which you have already trained and use them to
                            make predictions with unseen data. Either make predictions off individual 
                            sets of features or upload an unlabeled spreadsheet with many feature sets.
                        </p>
                        <a href="{{ url_for( 'models') }}" class="btn btn-primary">View Models</a>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Data Quality</h5>
                        <p class="card-text">
                            Deploy a comprehensive data quality assesment toolkit to understand the accuracy,
                            completeness, consistency, currency, and uniqueness of your data so that you can 
                            address any issues with the data before training
                        </p>
                        <a href="{{ url_for( 'quality') }}" class="btn btn-primary">View Models</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <br>
        <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://prathgan.github.io/"> Pratham Gandhi</a>
        </div>
        </footer>
        <!-- Footer -->


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
