<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AnaLazy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for( 'home') }}">AnaLazy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for( 'home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for( 'upload') }}">Upload</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for( 'train') }}">Train</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for( 'models') }}">Models</a>
          </li>
        </ul>
      </div>
    </nav>



    <div class="jumbotron">
      <h1 class="display-4">Train</h1>
    </div>

    <div id="ui_grid" style="margin-left:5%;margin-right:5%">
      <div class="row">

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">1. Choose Data</h5>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="">
                {% for file in filelist %}
                  {% if file == filechoice %}
                    <div class="btn-group mr-2" role="group" aria-label="a group">
                      <form action="{{ url_for('train') }}" method="post">
                        <button type="submit" name="filechoice" value="{{ file }}" class="btn btn-success">{{ file }}</button>
                      </form>
                    </div>
                  {% else %}
                    <div class="btn-group mr-2" role="group" aria-label="a group">
                      <form action="{{ url_for('train') }}" method="post">
                        <button type="submit" name="filechoice" value="{{ file }}" class="btn btn-primary">{{ file }}</button>
                      </form>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">2. Choose Features</h5>
              <form action="{{ url_for('train') }}" method="post">
                <ul class="list-group list-group">
                  {% for header in column_headers %}
                  <li class="list-group-item">
                    {% if feature_names == None %}
                      <!-- Default checked -->
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="{{header}}" name="{{header}}" value="{{header}}" checked>
                        <label class="custom-control-label" for="{{header}}">{{header}}</label>
                      </div>
                    {% else %}
                      {% if header in feature_names %}
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="{{header}}" name="{{header}}" value="{{header}}" checked>
                          <label class="custom-control-label" for="{{header}}">{{header}}</label>
                        </div>
                      {% else %}
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="{{header}}" name="{{header}}" value="{{header}}">
                          <label class="custom-control-label" for="{{header}}">{{header}}</label>
                        </div>
                      {% endif %}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul> <br>
                {% if feature_names != None %}
                  <button type="submit" name="features_submit" value="submit" class="btn btn-success">set features</button>
                {% else %}
                  <button type="submit" name="features_submit" value="submit" class="btn btn-primary">set features</button>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">3. Choose Target</h5>
              <form action="{{ url_for('train') }}" method="post">
                <ul class="list-group list-group">
                  {% if label_options != None %}
                    {% for label_name in label_options %}
                      <li class="list-group-item">
                        {% if selected_label == None %}
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="{{label_name}}_label" name="{{label_name}}_label" value="{{label_name}}_label">
                            <label class="custom-control-label" for="{{label_name}}_label">{{label_name}}</label>
                          </div>
                        {% else %}
                          {% if label_name == selected_label %}
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="{{label_name}}_label" name="{{label_name}}_label" value="{{label_name}}_label" checked>
                              <label class="custom-control-label" for="{{label_name}}_label">{{label_name}}</label>
                            </div>
                          {% else %}
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="{{label_name}}_label" name="{{label_name}}_label" value="{{label_name}}_label">
                              <label class="custom-control-label" for="{{label_name}}_label">{{label_name}}</label>
                            </div>
                          {% endif %}
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                  <br>
                  {% if selected_label == None %}
                    <button type="submit" name="label_submit" value="submit" class="btn btn-primary">set label</button>
                  {% else %}
                    <button type="submit" name="label_submit" value="submit" class="btn btn-success">set label</button>
                  {% endif %}
                {% endif %}
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">4. Choose Model</h5>
              {% if selected_label != None %}
                <form action="{{ url_for('trainer') }}" method="post">
                  <ul class="list-group list-group">
                    <li class="list-group-item">
                      {% if model_selection == 'MLP Neural Network' %}
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="{{label_name}}_label" name="{{label_name}}_label" value="{{label_name}}_label" checked>
                          <label class="custom-control-label" for="{{label_name}}_label">{{label_name}}</label>
                        </div>
                      {% else %}
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="{{label_name}}_label" name="{{label_name}}_label" value="{{label_name}}_label">
                          <label class="custom-control-label" for="{{label_name}}_label">{{label_name}}</label>
                        </div>
                      {% endif %}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul> <br>
                {% if selected_label == None %}
                  <button type="submit" name="label_submit" value="submit" class="btn btn-primary">set label</button>
                {% else %}
                  <button type="submit" name="label_submit" value="submit" class="btn btn-success">set label</button>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">4. Set Parameters</h5>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    


    



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
