<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Train</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        var refresh_id = setInterval(function() {
            $.get(
              "{{ url_for('thread_status') }}",
              function(data) {
                console.log(data);
                if (data.status == 'finished') {
                  window.location.replace("{{ url_for('train_done') }}");
                }
              }
            )}
          , 1000);
      });
    </script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for( 'home') }}">AnaLazy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for( 'upload') }}">Upload</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for( 'train') }}">Train</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for( 'models') }}">Models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for( 'quality') }}">Data Quality</a>
          </li>
        </ul>
      </div>
    </nav>



    <div class="jumbotron">
      <h1 class="display-4">Train</h1>
    </div>

    <div id="ui_grid" style="text-align: center; margin-left:5%;margin-right:5%">
      {% if finished == False %}
        <h4>{{ model_name }} is training...</h4>
        <h6>Don't leave this page</h6><br>
        <div class="spinner-border text-primary" style="width: 10rem; height: 10rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      {% else %}
        {% if e == None %}
        <div class="alert alert-success" role="alert">
          {{ model_name }} successfully finished training
          <br>
          Go to <a href="{{ url_for( 'models') }}" class="btn btn-success">Models</a> to use it
        </div>
        <svg class="bi bi-check" width="10em" height="10em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
        </svg>
        {% else %}
        <div class="alert alert-danger" role="alert">
          Training unsuccessful. Error: {{ str(e) }}
          <br>
          <center>
            <a href="{{ url_for( 'models') }}" class="btn btn-danger"></a>
          </center>
        </div>
        <svg class="bi bi-exclamation" width="10em" height="10em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.002 11a1 1 0 112 0 1 1 0 01-2 0zM7.1 4.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 4.995z"/>
        </svg>
        {% endif %}
      {% endif %}
    </div>

    <!-- Footer -->
    <br>
    <footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://prathgan.github.io/"> Pratham Gandhi</a>
    </div>
    </footer>
    <!-- Footer -->


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>