<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AnaLazy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">AnaLazy</h1>
        <p class="lead">Set training parameters</p>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="a group">
            <button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for( 'train') }}';">Adjust features & label selection</button>
          </div>
        </div> <br>
      </div>
    </div>

    <div class="container" style="display: flex; height: 100px;">
      <div style="width: 50%;">
        <div class="model_section_training_params" style="margin-left:0%;margin-right:5%">
          <div class="model_selection" style="margin-left:5%;margin-right:0%">
            <h5>Select model type</h5>

            <form action="{{ url_for('trainer') }}" method="post">
              <ul class="list-group list-group">
                <li class="list-group-item">
                  {% if model_selection == 'MLP Neural Network' %}
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="MLP Neural Network" name="selection" value="MLP Neural Network" checked>
                      <label class="custom-control-label" for="MLP Neural Network">MLP Neural Network</label>
                    </div>
                  {% else %}
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="MLP Neural Network" name="selection" value="MLP Neural Network">
                      <label class="custom-control-label" for="MLP Neural Network">MLP Neural Network</label>
                    </div>
                  {% endif %}
                </li>
                <li class="list-group-item">
                  {% if model_selection == 'Linear Support Vector Machine' %}
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="Linear Support Vector Machine" name="selection" value="Linear Support Vector Machine" checked>
                      <label class="custom-control-label" for="Linear Support Vector Machine">Linear Support Vector Machine</label>
                    </div>
                  {% else %}
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="Linear Support Vector Machine" name="selection" value="Linear Support Vector Machine">
                      <label class="custom-control-label" for="Linear Support Vector Machine">Linear Support Vector Machine</label>
                    </div>
                  {% endif %}
                </li>
              </ul> <br>
              {% if model_selection == None %}
                <button type="submit" name="model_submit" value="submit" class="btn btn-primary">select model</button>
              {% else %}
                <button type="submit" name="model_submit" value="submit" class="btn btn-primary">select model</button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      <div style="flex-grow: 1;">
        <div class="training_params" style="margin-left:5%;margin-right:0%">
          {% if show_params_selection == True %}
            <h5>Enter training parameters</h5>

            <form action="{{ url_for('training') }}" method="post">
              
              {% if model_selection == 'MLP Neural Network' %}
                <div class="form-group">
                  <label for="mlpnn_type">Select the MLP Neural Network's target application</label>
                  <select class="form-control" id="mlpnn_type" name="mlpnn_type">
                    <option name="classification">classification</option>
                    <option name="regression">regression</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="solver_type">Select weight optimization solver</label>
                  <select class="form-control" id="solver_type" name="solver_type">
                    <option name="adam">adam</option>
                    <option name="sgd">sgd</option>
                    <option name="lbfgs">lbfgs</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="hidden_layer_sizes">Enter hidden layer sizes (tuple where ith element is number of neurons in ith layer)</label>
                  <input type="text" class="form-control" name="hidden_layer_sizes" placeholder="100,">
                </div>
                <div class="form-group">
                  <label for="activation_function">Select activation function for hidden layer</label>
                  <select class="form-control" id="activation_function" name="activation_function">
                    <option name="relu">relu</option>
                    <option name="identity">identity</option>
                    <option name="logistic">logistic</option>
                    <option name="tanh">tanh</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="alpha">Enter alpha, L2 penalty (regularization term) parameter</label>
                  <input type="text" class="form-control" name="alpha" placeholder="0.0001">
                </div>
                <div class="form-group">
                  <label for="batch">Select batch size, size of minibatches for stochastic optimizers. If the solver is ‘lbfgs’, the classifier will not use minibatch. When set to “auto”, batch_size=min(200, n_samples)</label>
                  <input type="text" class="form-control" name="batch" placeholder="auto">
                </div>
                <div class="form-group">
                  <label for="random_state">Enter random state seed used by the random number generator</label>
                  <input type="text" class="form-control" name="random_state" placeholder="None">
                </div>
              {% elif model_selection == 'Linear Support Vector Machine'%}


              {% endif %}


              <br>

              <button type="submit" name="params_submit" value="submit" class="btn btn-warning">set parameters</button>
            </form>

          {% endif %}
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
